:root{
    --yellow:#fdf004;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}
/* --------------------------------------------------Nav Bar ------------------------------------ */
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter:blur(30px);
}
nav img{
    width: 60px;
    height: 60px;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: var(--yellow);
}
/* -----------------------------------------------home page ------------------------------------------ */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero h1{
    color: var(--yellow);
    font-size: 5rem;
    text-align: center;
}
.hero button{
    padding: 10px 30px;
    background-color: transparent;
    color: var(--yellow);
    margin-top: 40px;
    border: 2px solid var(--yellow);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .15s;
     border-radius: 1px;
     position: relative;
     cursor: pointer;
}
.hero button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
   background-color: var(--yellow);
   top: 0;
   left: 0;
   transition: .5s;
   z-index: -1;
}
.hero button:hover::after{
    width: 100%;
}
.hero button:hover{
    color: black;
    z-index: 2;

}

/* -----------------------------------------------find page ------------------------------------------- */
#findpage section{
    margin-top: 70px;
    padding: 0 5%;
    /* width: 100vw; */
}
.lfh1{
    margin-bottom: 50px;
    text-align: center;
   color: white;
   font-size: 2.2rem;
   position: relative;
   display: block
}
.lfh1::after{
    content: '';
    width: 100px;
    background-color:var(--yellow);
    height: 2px;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translatex(-50%);
    /* right: 50%; */
    /* transform: translateY(-50%); */
    border-radius: 6px;
}
.item-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
    
}
.item-container:last-child{
    margin-right: auto;
}
.card{
    width: 300px;
    /* height: 400px; */
    border: 2px solid whitesmoke;
    /* margin: 50px; */
    /* background-color: white; */
    border-radius: 10px;
    padding: 20px;
}
.card-img{
    width: 260px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.card-img img{
    width: 260px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    transition: .5s;
}
.card-img img:hover{
    scale: 1.1;
}
.card-desc{
    margin: 20px 0;
}
.card-desc h2{
color: white;
margin-bottom: 20px;
font-size: 20px;
}
.card-desc p{
color:gray;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
line-height: 1.5;

}
.extraItem{
    min-width:300px;
    height: 0;
}

/* -----------------------------------Post item page ----------------------------- */

#postItem section{
    margin-top: 70px;
}
.form-container{
    width:100vw;
    padding: 0 5%;
    /* height: 40vw; */
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-container h2{
    text-align: start;
    width: 500px;
    font-size: 1.5rem;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
}

form input{
    margin-bottom: 20px;
}
